name: Version or Publish

on:
  push:
    branches:
      - main

permissions:  
  contents: write  # Includes read, needed for checkout, creating tags/releases, pushing commits
  pull-requests: write  # For creating and updating PRs

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  changesets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: ./
        with:
          version: yarn bump
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
